.redsocial {
	display: flex;
	justify-content: space-between;
}

.fondo {
	/* FONDO */
	background-image: url(img/ElJardinDeLasDelicias.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/* Con estas dos opciones me permite oscurecer la imagen con respecto al color que otorgemos */
	background-color: rgba(0, 0, 0, 0.7);
	background-blend-mode: soft-light;
	/* TEXTO (centreado) */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;
}

.top-nav-collapse {
	background: #014441 !important;
}

form {
	padding-top: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}

footer {
	margin-top: 100px;
	background-color: #014441;
}

.footer-copyright strong {
	color: #f9f9f9;
	font-size: 12px;
}

.footer-copyright strong a {
	color: #014441;
}
